apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ $.Values.name }}
  name: {{ $.Values.name }}
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: {{ $.Values.name }}
  type: ClusterIP
